/Source/Settings/__pycache__
/Source/Game/__pycache__
/Source/TerminalEquity/__pycache__
/Source/Game/Evaluation/__pycache__
/.vscode
/Source/Tree/__pycache__
/Source/Lookahead/__pycache__
/Source/DataGeneration/__pycache__
/Source/Nn/__pycache__
/Source/Train/__pycache__
